section {
  width: 1100px;
  height: 100%;
  position: relative;
  margin: 0 0 10px 70px;
  clear: both;
  display: table !important;
}

section h2 a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #5A5A5A;
  text-decoration: none;
}

section h2 a:hover {
  text-decoration: none;
  color: #77a7d4;
}

section .timeline {
  background: #cccccc;
  height: 100%;
  display: block;
  position: absolute;
  width: 6px;
  margin-top: 50px;
  -moz-box-shadow: inset 2px 0px 6px #888;
  -webkit-box-shadow: inset 2px 0px 6px #888;
  box-shadow: inset 2px 0px 6px #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

section .timeline-header {
  background: #cccccc;
  height: 50px;
  display: block;
  position: absolute;
  width: 6px;
  margin-top: -5px;
  -moz-box-shadow: inset 2px 0px 6px #888;
  -webkit-box-shadow: inset 2px 0px 6px #888;
  box-shadow: inset 2px 0px 6px #888;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

section .buble.left {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

section .buble {
  display: block;
  position: relative;
  color: black;
  border: 1.5px solid #cccccc;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

section .buble.left::before {
  top: 15px;
  bottom: auto;
  left: -24px;
  border-width: 10px 24px 10px 0;
  border-color: transparent #cccccc;
}

section .buble::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 40px;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #cccccc transparent;
  display: block;
  width: 0;
}

section .buble.left::after {
  top: 16px;
  bottom: auto;
  left: -21px;
  border-width: 9px 21px 9px 0;
  border-color: transparent white;
}

section .buble::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 47px;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}

section .buble .modal-body {
  max-height: none;
}

section .buble .modal-body img {
  max-width: 1010px;
}

section .buble .modal-body p {
  text-align: justify;
}

section .buble .modal-header small {
  font-weight: normal;
  color: #999;
  margin: 5px;
  font-size: 12px;
}

section .buble .modal-body img {
  max-width: 1010px;
}

section .buble .modal-body p {
  text-align: justify;
}

section .theme {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background: #cccccc;
  position: absolute;
  margin: 8px 0 0 -66px;
  padding: 11px 0 0 11px;
  float: left;
  -moz-box-shadow: inset 3px 0 10px #888;
  -webkit-box-shadow: inset 3px 0 10px #888;
  box-shadow: inset 3px 0 10px #888;
}

section .icon-edit {
  margin: 4px 10px;
  opacity: .3;
}

section .icon-edit:hover {
  opacity: .8;
}

.modal-img {
  position: relative;
  max-height: 210px;
  overflow: hidden;
}

.modal-img img {
  max-width: 1050px;
}

.btn-demo-source {
  position: relative;
  text-align: center;
  margin: -70px 0 10px 0;
}

.cover {
  max-height: 100px;
  max-width: 500px;
}

.btn-demo-source a {
  margin: 10px;
}

@media (max-width: 979px) {
  section {
    width: 690px;
  }
  .modal-img > img {
    max-width: 690px;
  }
}